.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
tests
**/*.log
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/tmp/*
storage/app/private/*
storage/app/public/*
.editorconfig
*.md
docs
.dockerignore
Dockerfile
docker-compose.yml
railway.json